/home/michaelmcpherson/src/app-ideas
/home/michaelmcpherson/src/Business stuff
/home/michaelmcpherson/src/dbScripter
/home/michaelmcpherson/src/DnDModuleGenerator
/home/michaelmcpherson/src/hcxdumptool
/home/michaelmcpherson/src/hcxtools
/home/michaelmcpherson/src/jexcel
/home/michaelmcpherson/src/novel
/home/michaelmcpherson/src/realEstate
/home/michaelmcpherson/src/SFTP
/home/michaelmcpherson/src/USA-cities-and-states
/home/michaelmcpherson/src/writtenRecords
